<div class="toolbar-section">
  <mat-toolbar>
    <img click="pageCompanyTable()" src="https://i.postimg.cc/j2MJ3Qb2/fastporte-logo.png" aria-label="Main page button" alt="Fast logo button" class="img-logo"/>
    <h1>FlashPorte</h1>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <img src="{{company.photo}}" alt="Worker Photo" class="worker-photo" *ngIf="company.photo" />
      <mat-icon *ngIf="!company.photo">account_circle</mat-icon>
      {{company.user_name}}
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="pageHome()">Home</button>
      <button mat-menu-item (click)="pageProfile()">My Profile</button>
      <!--<button mat-menu-item (click)="pageContracts()">Contracts</button>-->
      <button mat-menu-item (click)="pageSupport()">Support</button>
      <button mat-menu-item (click)="pageLogOut()">LogOut</button>
    </mat-menu>
  </mat-toolbar>
</div>
