<mat-card class="card-contract">
  <mat-card-header class="card-header-contract">
    <mat-card-title class="card-title">Resume</mat-card-title>
    <mat-card-subtitle class="card-subtitle">Subject: {{subject}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content-contract">
    <p>From: {{origin}}</p>
    <p>To: {{destination}}</p>
    <p>Date: {{dateOfCreation}}</p>
    <p>Time: {{timeOfCreation}}</p>
    <p>Quantity: {{quantityOfPerson}}</p>
  </mat-card-content>
  <div class="hr"></div>
  <mat-card-footer class="card-footer-contract">
    <div class="client">
      <p>Client Data</p>
      <div class="cliente-content">
        <div mat-card-avatar class="card-client-avatar"></div>
        <div class="client-data">
          <p>Name: {{clientName}}</p>
          <p>Phone: {{phoneNumber}}</p>
        </div>
      </div>
    </div>
    <div class="price">
      <p>Amount:</p>
      <p>s/.{{price}}</p>
    </div>
  </mat-card-footer>
  <mat-card-actions class="card-action-contract">
    <button mat-button color="primary">Accept</button>
    <button mat-button>Decline</button>
  </mat-card-actions>

</mat-card>
