<div class="login-container">
  <div class="login-content">
    <img src="fastporte-logo.png" alt="Logo" class="welcome-image">
    <h2 class="welcome-title">Welcome, Let's Get Started!</h2>
    <div class="login-box">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="email" id="email" formControlName="email" class="form-control" required placeholder="Email address">
        </div>
        <div class="form-group">
          <input type="password" id="password" formControlName="password" class="form-control" required placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </form>
      <div *ngIf="submitted && loginForm.invalid" class="alert alert-danger">
        <div *ngIf="loginForm.get('email')?.hasError('required')">
          Email es requerido.
        </div>
        <div *ngIf="loginForm.get('password')?.hasError('required')">
          Contraseña es requerida.
        </div>
        <div *ngIf="loginFailed">
          Credenciales incorrectas. Por favor, verifica tu email y contraseña.
        </div>
      </div>
        <p class="create-account-link">¿No tienes una cuenta? <a routerLink="/registro">Crea una cuenta</a></p>
    </div>
  </div>
</div>
