.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Para hacerlo circular */
}

/* Estilo del contenedor principal */
.container {
  display: flex;
  flex-wrap: wrap; /* Permite que los contenedores se envuelvan cuando no haya suficiente espacio */
}

/* Estilo de los contenedores izquierdo y derecho en el cuerpo */
.left-container, .right-container {
  flex: 1; /* Ocupa un espacio igual en el contenedor padre */
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 300px; /* Establece un ancho mínimo para evitar que se vuelvan demasiado estrechos */
}

/* Estilo para los títulos */
h2 {
  font-weight: bold;
}
