<div class="toolbar-section">
    <mat-toolbar>
        <img click="pageCompanyTable()" src="https://i.postimg.cc/j2MJ3Qb2/fastporte-logo.png" aria-label="Main page button" alt="Carga logo button" class="img-logo"/>
        <h1>FlashPorte</h1>
        <span class="spacer"></span>
      <div class="btn-section">
        <button mat-button class="toolbar-btn" aria-label="Home button">
          <a class="toolbar-text" href="https://upc-pre-2023-si729-sv52-techcompany.github.io/LandingPage-V1/#about" target="_blank">Home</a>
        </button>
        <button mat-button class="toolbar-btn" aria-label="Us button" (click)="pageUs()">
          <a class="toolbar-text" href="#services">Us</a>
        </button>
        <button mat-button class="toolbar-btn" aria-label="About Us button" (click)="pageAboutUs()">
          <a class="toolbar-text" href="#aboutus">About Us</a>
        </button>
      </div>

    </mat-toolbar>
</div>
