<div class="registro-container">
  <div class="registro-content">
  <img src="fastporte-logo.png" alt="Logo" class="welcome-image">
  <h2 class="welcome-title">Create A New Account</h2>
  <div class="registro-box">
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <!-- Campo de correo electrónico -->
    <div class="form-group">
      <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
              placeholder="Email Address"
      />
      <div
              *ngIf="registroForm.get('email')?.hasError('required') && registroForm.get('email')?.touched"
              class="alert alert-danger"
      >
        El correo electrónico es obligatorio.
      </div>
      <div
              *ngIf="registroForm.get('email')?.hasError('email') && registroForm.get('email')?.touched"
              class="alert alert-danger"
      >
        Por favor, ingrese un correo electrónico válido.
      </div>
    </div>

    <!-- Campo de contraseña -->
    <div class="form-group">
      <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
              placeholder="Password"
      />
      <div
              *ngIf="registroForm.get('password')?.hasError('required') && registroForm.get('password')?.touched"
              class="alert alert-danger"
      >
        La contraseña es obligatoria.
      </div>
      <div
              *ngIf="registroForm.get('password')?.hasError('minlength') && registroForm.get('password')?.touched"
              class="alert alert-danger"
      >
        La contraseña debe tener al menos 6 caracteres.
      </div>
    </div>

    <!-- Campo de confirmación de contraseña -->
    <div class="form-group">
      <input
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword"
              class="form-control"
              placeholder="Confirm Password"
      />
      <div
              *ngIf="registroForm.get('confirmPassword')?.hasError('required') && registroForm.get('confirmPassword')?.touched"
              class="alert alert-danger"
      >
        La confirmación de contraseña es obligatoria.
      </div>
      <div
              *ngIf="registroForm.hasError('passwordMismatch') && registroForm.get('confirmPassword')?.touched"
              class="alert alert-danger"
      >
        Las contraseñas no coinciden.
      </div>
    </div>

    <!-- Botón de enviar -->
    <button type="submit" class="btn btn-primary">Continuar</button>
  </form>
</div>
</div>
</div>
